body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #CDB4DB;
}

.card {
  background-color: #FFC8DD;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  text-align: center;
  width: 300px;
}

button {
  margin-top: 15px;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  background-color: #bde0fe;
  color: pastel green;
  cursor: pointer;
}

button:hover {
  background-color: #ffafcc;
}
